<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.admin.mapper.AsaHuowuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiaoshu.admin.entity.AsaHuowu">
        <id column="id" property="id"/>
        <result column="xingming" property="xingming"/>
        <result column="xuehao" property="xuehao"/>
        <result column="banji" property="banji"/>
        <result column="sushe" property="sushe"/>
        <result column="dianhua" property="dianhua"/>
        <result column="huowu" property="huowu"/>
        <result column="shijian" property="shijian"/>
        <result column="churu" property="churu"/>
        <result column="chuliren" property="chuliren"/>
        <result column="beizhu" property="beizhu"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, xingming, xuehao, banji, sushe, dianhua, huowu, shijian, churu, chuliren, beizhu
    </sql>

    <select id="selectProductById" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        a.id,
        a.xingming,
        a.xuehao,
        a.banji,
        a.sushe,
        a.dianhua,
        a.huowu,
        a.shijian,
        a.churu,
        a.chuliren,
        a.beizhu

        from
        asa_huowu a
        where
        <if test="id != nill and id !=''">
            a.id=#{id}
        </if>
    </select>

</mapper>
